section {
    background-color: #fafafa;
  }
  h2 {
    color: #111111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  
  .span-title {
    color: #fd9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  
  .top-seller {
    display: block;
    width: 1136px;
    height: 646px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   }
  
  
  .img-choco {
    margin: auto;
    display: flex;
    height: 464px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;}
  
  .img {
    width: 368px;
    height: 464px;
    
  
  }
  
  .orange {
    width: 162px;
    height: 50px;
    font-weight: 600;
    border-radius: 25px;
    color: white;
    background-color: #fd9222;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border: none;
  }
  
  .para-button {
    display: flex;
    width: 1136px;
    height: 72px;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    margin-left: 40px;
  }
  .orange:hover {
    background-color: #fcf1e0;
    color: #fd9222;
    cursor: pointer;
  }
  
  .para-button p {
    width: 407px;
    height: 72px;
    font-size: 14px;
    line-height: 18px;
    font-family: Montserrat;
  }
  
  
  @media (max-width: 768px) {
    .img-choco li:last-child {
      display: none;
    }
    
  }
  
  
   img{ width: 344px;
    height: 464px;
    border-radius: 15px;
  }
  @media (max-width: 375px) {
    .img-choco{
      display: block;
      height: auto;
    }
    
    }
    .top-seller{
      width:  335px;
      height:  1,187px;
      gap: 32px;
      margin: auto;
    }
    li{
      gap: 10px;
    }
    .img{padding-bottom: 10px;}
    .para-button{
      display: block;
      width: fit-content;
    }
    .para-button p{width: 375px;
    padding-bottom: 10px;}
  
  
  
  